/* 公共样式 */

/* 重置样式 */
* {
    margin: 0;
    padding: 0;
}

i,
em {
    font-style: normal;
}

textarea {
    font-family: "微软雅黑";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

table {
    /* 表格的两边框合并为一条 */
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #e2f2fa;
    height: 100vh;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

/* 头部样式 */
header {
    width: 1600px;
    background: linear-gradient(200deg, #d3dde4, #1f2b34);
    height: 80px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px 20px;
}

.ifuhk {
    background-color: linear-gradient(100deg, #ccfbff, #ead6ee);
    background: linear-gradient(200deg, #b2b9be, #2f4052);
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 136px;
    height: 60px;
}

.logo-img img {
    position: absolute;
    top: 0px;
    margin-left: 20px;
    width: 100px;
    height: 75px;
}

.logo-title {
    font-size: 26px;
    font-family: Arial;
    text-align: left;
    color: rgb(254, 252, 252);
    flex: 1;
    margin-left: 20px;
    margin-top: 0px;
}

/* 简介弹窗 */
.user {
    width: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 60px;
    box-sizing: border-box;
}
.user:hover .usertab {
    display: block;
}
.usertab {
    position: absolute;
    top: 67px;
    left: -22px;
    font-size: 12px;
    z-index: 1001;
    background: #fff;
    text-align: center;
    border: rgba(0, 0, 0, 0.248) 1px solid;

    width: 195px;
    height: 233px;
    display: none;
}

.user .userlogo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.usertab .username {
    width: 100%;
    background: linear-gradient(200deg, #f2ddf8, #aceef5);
    padding: 20px 20px 5px;
    box-sizing: border-box;
}

.user .usertab .username i {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.user .usertab ul li {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    background: #f5fbfd;
}

.user .usertab ul .bgccc {
    border-top: 1px solid rgb(230, 227, 227);
}

.user .usertab ul li:hover {
    color: #e09b9b;
    background: #dbf4fc;
}

/* 文字超出部分隐藏效果 */
.user span {
    display: block; /*内联对象需加*/
    word-break: keep-all; /* 不换行 */
    white-space: nowrap; /* 不换行 */
    overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow: ellipsis; /* 当对象内文本溢出时显示省略标记() ；需与overflow:hidden;一起使用。*/
}

.user span:nth-of-type(1) {
    font-size: 18px;
}

.user span:nth-of-type(3) {
    font-size: 18px;
    color: #a43a3a;
}

/* 主体样式 */
main {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    background: #fff;
}

/* 导航条样式 */
nav {
    width: 188px;
    height: 800px;
    border-right: 2px solid #ccc;
}

nav ul li {
    width: 188px;
    box-sizing: border-box;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    text-align: center;
    white-space: nowrap;
    margin-bottom: 0px;
    padding-left: 40px;
    padding-right: 16px;
    opacity: 1;
    border-bottom: 1px solid rgba(119, 119, 119, 0.36);
}

nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #333;
}

nav ul li a:hover {
    color: #000;
}

nav ul .active {
    background: #e0e0e0;
}

nav ul .active a {
    font-weight: 600;
}

nav ul li a i {
    float: right;
    margin-right: 20px;
    font-size: 20px !important;
}
