.booking-content {
    width: 1600px;
    padding: 20px 60px 10px 50px;
    flex: 1;
    box-sizing: border-box;
}

.tab {
    position: relative;
}

.table-booking {
    width: 1190px;
    margin-left: 60px;
    position: relative;
    margin-top: 30px;
    font-size: 0.95em;
    text-align: center;
    border: 1px #ccc solid;
    border-bottom: 1px solid #efefef;
    border-collapse: collapse;
    font-weight: 400;
    border-top: none;
    box-sizing: border-box;
    border-right: none;
    border-bottom: none;
}

.table-booking th,
.table-booking td {
    font-size: 0.95em;
    text-align: center;
    border: 1px #ccc solid;
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;
    font-weight: 400;
    border-top: none;
    box-sizing: border-box;
    width: 150px;
    height: 50px; /* 表格行高 */
    box-sizing: border-box;
}

.table-booking tr th {
    background-color: #c8f8ff;
    color: #000000;
    border-top-color: transparent;
    font-weight: 600;
    font-size: 15px;
}

.table-booking tr th span {
    display: block;
}

.table-booking tr th:nth-child(n + 1),
.table-booking tr td:nth-child(n + 1) {
    border-right: none;
}

.table-booking tr:last-of-type {
    border-bottom: none;
}

.table-booking tr:last-of-type td {
    border-bottom: none;
}

.table-booking,
.table-booking tr td:nth-child(1),
.table-booking tr th:nth-child(1) {
    border-left: none;
}

.table-booking tr:nth-child(even) {
    /* background-color: #f1f1f1; */
    border-top-color: transparent;
}

.table-booking tr td a {
    margin-right: 30px;
    color: #126ffc;
}

.booking-time24 span {
    display: block;
    width: 50px;
    height: 50px;
    color: #999;
    line-height: 50px;
}

.booking-time24 {
    position: absolute;
    width: 50px;
    top: 25px;
}

/* 时间表 */

.booking-list {
    display: flex;
    align-items: center; /* flex布局的上下居中 */
    justify-content: center; /* flex布局的左右居中 */
    position: absolute;
    text-align: center; /* 文字居中 */
    z-index: 1;
    transition: all 0.2s;
    /* 固定参数 */
    width: 170px; /* 表格列宽-固定 */
}

.booking-list span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis; /* 当对象内文本溢出时显示省略标记() ；需与overflow:hidden;一起使用。*/
    color: #666;
}

.booking-list:hover {
    transform: scale(1.05);
    overflow: hidden;
}

/* 附加类的样式只需更改如下4个属性即可 */
.booking-list1 {
    height: 150px;
    background: rgba(57, 103, 255, 0.4);
    /* 定位 */
    top: 50px; /* 50 + X */
    left: 60px; /* 60 + 170X */
}

.booking-list2 {
    height: 182px;
    background: rgba(111, 250, 93, 0.4);
    /* 定位 */
    top: 378px;
    left: 60px;
}

.booking-list3 {
    height: 46px;
    background: rgba(137, 85, 250, 0.4);
    top: 335px;
    left: 230px;
}

.booking-list4 {
    height: 92px;
    background: rgba(252, 106, 196, 0.4);
    top: 558px;
    left: 230px;
}

.booking-list5 {
    height: 225px;
    background: rgba(152, 106, 252, 0.4);
    top: 65px;
    left: 570px;
}

.booking-list6 {
    height: 136px;
    background: rgba(42, 236, 246, 0.4);
    top: 200px;
    left: 400px;
}

.booking-list7 {
    height: 92px;
    background: rgba(42, 236, 246, 0.4);
    top: 290px;
    left: 740px;
}

.booking-list8 {
    height: 136px;
    background: rgba(195, 246, 42, 0.4);
    top: 425px;
    left: 570px;
}
/*删*/
.booking-list9 {
    height: 150px;
    background: rgba(57, 103, 255, 0.4);
    /* 定位 */
    top: 150px; /* 50 + 50X */
    left: 1020px; /* 60 + 170X */
}

/* 日轴样式 */

.line-wrap {
    display: none;
    position: absolute;
    z-index: 1000;
}

.line-wrap .line-left {
    width: 2px;
    height: 650px;
    background: #03dee2;
    position: absolute;
    top: 0px;
    /* left: 60px; /* 60 + 170X */
}

.line-wrap .line-right {
    width: 2px;
    height: 650px;
    background: #03dee2;
    position: absolute;
    top: 0px;
    /* left: 230px; /* 230 + 170X */
}

/* 时间线样式 */

.line-wrap .line-3 {
    line-height: 20px;
    position: absolute;
    /*top: 642px; /* 42 + 50X，范围42~642*/
    left: 45px;
    display: flex;
    align-items: center;
}

.line-3 i {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #4ab1e1;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.line-3-inner {
    display: inline-block;
    width: 1190px;
    height: 2px;
    background: #03dee2;
}

#line-3-time {
    font-size: 16px;
    color: #999;
}

/* 弹窗 (background) */
.modal {
    display: none;
    /* 默认隐藏 */
    position: fixed;
    /* 固定定位 */
    z-index: 1;
    /* 设置在顶层 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

/* 弹窗内容 */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px 40px;
    border: 1px solid #888;
    width: 38%;
}

.modal-content p {
    margin-bottom: 20px;
    font-size: 14px;
}
.modal-content textarea {
    padding: 10px;
    box-sizing: border-box;
}

.show-close {
    color: #fff;
    margin-left: 48%;
    margin-top: 50px;
    background: #63d6d6;
    border: none;
    padding: 6px 30px;
    border-radius: 10px;
}

/* 关闭按钮 */
.close {
    color: #fff;
    margin-top: 50px;
    background: #63d6d6;
    border: none;
    padding: 6px 30px;
    border-radius: 10px;
}

.close:hover,
.close:focus {
    /*有色按钮变色*/
    background: #46cbcb;
    cursor: pointer;
}

.color-button:hover {
    /*有色按钮变色*/
    background: #46cbcb;
    cursor: pointer;
}

/* 预约实验 */
.booking-top {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    margin-top: 5px;
}

.booking-top button {
    width: 90px;
    height: 36px;
    background: #62d6d6;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.booking-top span {
    font-weight: 600;
}

.booking-top span:nth-of-type(1) {
    margin-left: 60px;
    font-weight: 600;
}

.booking-top-right button {
    margin-left: 20px;
}

.booking-top-right .top-week {
    color: #000;
    background: #f2f2f2;
}

.top-week:hover {
    background: #e9e9e9;
}

.booking-modal .modal-content {
    margin: 0 auto;
    font-size: 12px !important;
    margin-top: 50px;
}

.booking-modal .modal-content p input {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding-left: 8px;
    height: 30px;
    border-radius: 5px;
    outline: 0;
    border: none;
    border: 1px solid #999;
}

.booking-modal .modal-content p .big-input {
    height: 120px;
    width: 100%;
    border-radius: 5px;
}

.upload a {
    margin-left: 50px;
    color: #0f6d9c;
}

.close-wrap {
    display: flex;
    justify-content: center;
}

.close-wrap button {
    color: #fff;
    margin-left: 0;
    margin-right: 50px;
    margin-top: 30px;
    background: #63d6d6;
    border: none;
    padding: 6px 30px;
    border-radius: 10px;
}
