 @font-face {
     font-family: "iconfont";
     /* Project id 3342600 */
     src: url('font/font_3342600_inwqhvzbbsf.woff2') format('woff2'),
         url('font/font_3342600_inwqhvzbbsf.woff') format('woff'),
         url('font/font_3342600_inwqhvzbbsf.ttf') format('truetype ');
 }

 .iconfont {
     font-family: "iconfont" !important;
     font-size: 16px;
     font-style: normal;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }

 .icon-sousuo:before {
     content: "\e651";
 } 

 .icon-bianji:before {
     content: "\e600";
 }

 .icon-gonggao:before {
     content: "\e650";
 }

 .icon-yonghu1:before {
     content: "\e643";
 }

 .icon-lianxishouhou:before {
     content: "\e638";
 }

 .icon-ico_yuyueguanli_jiedaiyuyue:before {
     content: "\e949";
 }

 .icon-ziyuan:before {
     content: "\e874";
 }

 .icon-shezhi:before {
     content: "\e8b7";
 }

 .icon-xinwen:before {
     content: "\e637";
 }

 .icon-zhuye:before {
     content: "\e601";
 }