<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>预约实验</title>
    <link rel="stylesheet" href="../static/css/font.css" th:href="@{css/font.css}"/>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{css/index.css}"/>
    <link rel="stylesheet" href="../static/css/booking.css" th:href="@{css/booking.css}"/>
    <script src="../static/js/jquery-3.6.0.min.js" th:src="@{js/jquery-3.6.0.min.js}"></script>
    <!--  首先进行登录状态核验   -->
    <script src="../static/js/check-login.js" th:src="@{js/check-login.js}"></script>
</head>

<body>
<!--  头部 -->
<header>
    <div class="head">
        <div class="logo-img" onclick="window.location.href = '/home'">
            <img id="logo-img" src="img/logo.png" alt="" width="139" height="70"/>
        </div>
        <div class="logo-title">网络攻防在线开放实验平台网络预约与自动授权系统</div>
        <!-- 个人头像信息 -->
        <div class="user" id="user">
            <img class="userlogo" th:src="@{${user?.getImageAddress()}}"  alt=""/>
            <!--  user中要添加“？”，因为thymeleaf在获取对象时，需判断该对象不为空，才能用”.“调用属性  -->
            <span th:text="${user?.getRealName()}">张三</span>
            <span>&nbsp;</span>
            <span th:text="${identity}">老师</span>
            <!-- 简介弹窗 -->
            <div class="usertab" id="usertab">
                <!-- 信息 -->
                <div class="username">
                    <i style="font-size: 18px; font-weight: 600">
                        <span th:text="${identity}">老师</span>
                        <span th:if="!${user?.isSocial()}"
                              th:text="'(' + ${user?.getSchool()} + ${user?.getFaculty()} + ')'">
                            (北京大学软件学院)
                        </span>
                        <span th:if="${user?.isSocial()}"
                              th:text="'Welcome'">
                            (welcome)
                        </span>
                    </i>
                    <i th:utext="'<b>' + ${user?.getRealName()} + '</b>&nbsp;&nbsp;ID:' + ${user?.getId()}">张三
                        1212312345</i>
                    <i th:text="${user?.getEmail()}">12123123@mail.com</i>
                </div>
                <!-- 功能表 -->
                <ul>
                    <li class="bgccc" onclick="window.location.href = '/setting'">
                        个人信息维护
                    </li>
                    <li onclick="window.location.href = '/resetPassword'">
                        修改密码
                    </li>
                    <li onclick="window.location.href = '/help'">
                        帮助
                    </li>
                    <li id="logout">
                        退出登录
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>


<!-- 主体页面 -->
<main>
    <!-- 左边导航 -->
    <nav>
        <ul>
            <li>
                <a href="home">首&nbsp;页 <i class="iconfont icon-zhuye"></i> </a>
            </li>
            <li>
                <a href="news">新闻公告 <i class="iconfont icon-gonggao"></i> </a>
            </li>
            <li class="active">
                <a href="booking">预约实验<i class="iconfont icon-ico_yuyueguanli_jiedaiyuyue"></i></a>
            </li>
            <li>
                <a href="resource">资源站点 <i class="iconfont icon-ziyuan"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="experiment">实验管理 <i class="iconfont icon-bianji"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="user">用户管理 <i class="iconfont icon-yonghu1"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="notice">公告管理 <i class="iconfont icon-gonggao"></i> </a>
            </li>
            <li>
                <a href="setting">个人设置 <i class="iconfont icon-shezhi"></i> </a>
            </li>
            <li>
                <a href="contact"
                >联系我们
                    <i class="iconfont icon-lianxishouhou"></i>
                </a>
            </li>
        </ul>
    </nav>

    <!-- 右边实验管理 -->
    <div class="booking-content">

        <div class="booking-top">
            <div class="booking-top-left">
                <button class="myBtn color-button">+预约实验</button>

                <span id="year"></span>
                <span>&nbsp;年&nbsp;</span>
                <span id="month"></span>
                <span>&nbsp;月</span>
                <span id="today"></span>
                <span>&nbsp;日</span>
            </div>
            <div class="booking-top-right">
                <button id="last-week" class="top-week">上一周</button>
                <button id="next-week" class="top-week">下一周</button>
                <button id="this-week" class="color-button">本周</button>
            </div>

        </div>
        <div class="tab">
            <table class=table-booking>
                <tr>
                    <th>周一 <span></span></th>
                    <th>周二 <span></span></th>
                    <th>周三 <span></span></th>
                    <th>周四 <span></span></th>
                    <th>周五 <span></span></th>
                    <th>周六 <span></span></th>
                    <th>周日 <span></span></th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <div class="booking-time24">
                    <span>00:00</span>
                    <span>02:00</span>
                    <span>04:00</span>
                    <span>06:00</span>
                    <span>08:00</span>
                    <span>10:00</span>
                    <span>12:00</span>
                    <span>14:00</span>
                    <span>16:00</span>
                    <span>18:00</span>
                    <span>20:00</span>
                    <span>22:00</span>
                    <span>24:00</span>
                </div>
                <a href="detail/1" class="booking-list booking-list1" title="00:00:00~06:00:00">
                    <span>网络攻防-木马实验</span>
                </a>
                <a href="detail.html" class="booking-list booking-list2">
                    <span>DNS溢出实验</span>
                </a>
                <a href="detail.html" class="booking-list booking-list3">
                    <span>ARP溢出实验</span>
                </a>

                <a href="detail.html" class="booking-list booking-list4">
                    <span>木马灰鸽子攻击</span>
                </a>
                <a href="detail.html" class=" booking-list booking-list5">
                    <span>明文窃听</span>
                </a>
                <a href="detail.html" class=" booking-list booking-list6">
                    <span>PING扫描</span>
                </a>
                <a href="detail.html" class=" booking-list booking-list7">
                    <span>TOMCAT管理用户弱口令攻击</span>
                </a>

                <!-- 时间轴 -->
                <div class="line-wrap">
                    <div class="line-left"></div>
                    <div class="line-right"></div>
                    <div class="line-3">
                        <i></i>
                        <span class="line-3-inner"></span>
                        <span id="line-3-time"></span>
                    </div>
                </div>

            </table>

        </div>
    </div>


    <!-- 弹窗 -->
    <div id="myModal" class="modal booking-modal" style="z-index: 9999;">

        <!-- 弹窗内容 -->
        <iframe name="targetIfr" style="display:none"></iframe>
        <form class="modal-content" style="width: 45%;" target="targetIfr">
            <!-- <span class="close">&times;</span> -->
            <p> *实验标题
                <input type="text" name="edit-title" id="edit-title" placeholder=" 请填写本次实验标题">
            </p>
            <p> *实验内容 <br>
                <textarea type="text" class="big-input" name="edit-content" id="edit-content" placeholder=" 请填写本次实验具体内容"></textarea>
            </p>
            <p> *实验时间
            <div class="booking-time">
                <span>从</span>
                <input type="datetime-local" name="start-time" id="start-time">
                <span>到</span>
                <input type="datetime-local" name="end-time" id="end-time">
            </div>
            </p>
            <p> *参与人员
                <input type="text" name="participant" id="participant" placeholder=" 请填写本次实验参与的其它成员">
            </p>
            <p> *指导老师
                <input type="text" name="instructor" id="instructor" placeholder=" 请填写本次实验参与的指导老师">
            </p>
            <p> *相关知识<br><textarea type="text" class="big-input" name="related-knowledge" id="related-knowledge"
                                   placeholder=" 请填写本次实验涉及的相关知识"></textarea>
            </p>

            <div class="upload" id="upload">
                <input type="file" name="files" id="files" multiple="multiple" title="支持多文件上传" style="width: 70px"/>

                <a title="上传的文件">网络安全协议书.pdf</a>
                <a title="上传的文件">视频讲解.mp4</a>
                <a title="上传的文件">实验教程.ppt</a>
            </div>
            <p class="close-wrap">
                <button class="color-button" id="booking">提交</button>
                <button class="color-button close">返回</button>
            </p>
        </form>

    </div>

</main>

<!-- 底部 -->
<footer>

</footer>

<script src="js/booking.js"></script>
</body>
<script>
    // var i = 1;

    // function show(id) {
    //     if (i % 2 != 0) {
    //         document.getElementById(id).style.display = "block";
    //     } else {
    //         document.getElementById(id).style.display = "none";
    //     }
    //     i++;
    // }
</script>

</html>