<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>公告管理</title>
    <link rel="stylesheet" href="../static/css/font.css" th:href="@{css/font.css}"/>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{css/index.css}"/>
    <link rel="stylesheet" href="../static/css/notice.css" th:href="@{css/notice.css}"/>
    <script src="../static/js/jquery-3.6.0.min.js" th:src="@{js/jquery-3.6.0.min.js}"></script>
    <!--  首先进行登录状态核验   -->
    <script src="../static/js/check-login.js" th:src="@{js/check-login.js}"></script>
</head>

<body>
<!-- 头部 -->
<header>
    <div class="head">
        <div class="logo-img" onclick="window.location.href = '/home'">
            <img id="logo-img" src="img/logo.png" alt="" width="139" height="70"/>
        </div>
        <div class="logo-title">网络攻防在线开放实验平台网络预约与自动授权系统</div>
        <!-- 个人头像信息 -->
        <div class="user" id="user">
            <img class="userlogo" th:src="@{img/userlogo.png}" alt=""/>
            <!--  user中要添加“？”，因为thymeleaf在获取对象时，需判断该对象不为空，才能用”.“调用属性  -->
            <span th:text="${user?.getRealName()}">张三</span>
            <span>&nbsp;</span>
            <span th:text="${identity}">老师</span>
            <!-- 简介弹窗 -->
            <div class="usertab" id="usertab">
                <!-- 信息 -->
                <div class="username">
                    <i style="font-size: 18px; font-weight: 600">
                        <span th:text="${identity}">老师</span>
                        <span th:if="!${user?.isSocial()}"
                              th:text="'(' + ${user?.getSchool()} + ${user?.getFaculty()} + ')'">
                            (北京大学软件学院)
                        </span>
                        <span th:if="${user?.isSocial()}"
                              th:text="'Welcome'">
                            (welcome)
                        </span>
                    </i>
                    <i th:utext="'<b>' + ${user?.getRealName()} + '</b>&nbsp;&nbsp;ID:' + ${user?.getId()}">张三
                        1212312345</i>
                    <i th:text="${user?.getEmail()}">12123123@mail.com</i>
                </div>
                <!-- 功能表 -->
                <ul>
                    <li class="bgccc" onclick="window.location.href = '/setting'">
                        个人信息维护
                    </li>
                    <li onclick="window.location.href = '/resetPassword'">
                        修改密码
                    </li>
                    <li onclick="window.location.href = '/help'">
                        帮助
                    </li>
                    <li id="logout">
                        退出登录
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- 主体页面 -->
<main>
    <!-- 左边导航 -->
    <nav>
        <ul>
            <li>
                <a href="home">首&nbsp;页 <i class="iconfont icon-zhuye"></i> </a>
            </li>
            <li>
                <a href="news">新闻公告 <i class="iconfont icon-gonggao"></i> </a>
            </li>
            <li>
                <a href="booking">预约实验<i class="iconfont icon-ico_yuyueguanli_jiedaiyuyue"></i></a>
            </li>
            <li>
                <a href="resource">资源站点 <i class="iconfont icon-ziyuan"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="experiment">实验管理 <i class="iconfont icon-bianji"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="user">用户管理 <i class="iconfont icon-yonghu1"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}" class="active">
                <a href="notice">公告管理 <i class="iconfont icon-gonggao"></i> </a>
            </li>
            <li>
                <a href="setting">个人设置 <i class="iconfont icon-shezhi"></i> </a>
            </li>
            <li>
                <a href="contact"
                >联系我们
                    <i class="iconfont icon-lianxishouhou"></i>
                </a>
            </li>
        </ul>
    </nav>

    <!-- 右边实验管理 -->
    <div class="notice-content">

        <!-- 搜索栏 -->
        <div class="notice-top">
            <button id="addNotice" class="addBtn" onclick="addNotice()">+新增公告</button>
            <div class="news-time">
                <span>从</span>
                <input type="date" name="" id="start-time" th:value="${startTime}"/>
                <span>到</span>
                <input type="date" name="" id="end-time" th:value="${endTime}"/>
            </div>
            <div class="news-search">
                <input id="search-content" type="text" placeholder="模糊搜索" th:value="${searchContent}"/>
                <i class="iconfont icon-sousuo"></i>
            </div>
            <button id="newsSearch">搜索</button>
        </div>

        <!-- 公告表格 -->
        <div class="ex-list">
            <table class="table-notice">
                <tr>
                    <th>公告名称</th>
                    <th>公告内容</th>
                    <th>发布时间</th>
                    <th>操作</th>
                </tr>
                <tr th:each="notice:${noticeList}">
                    <td>
                        <span th:utext="${notice.getTitle()}" class="new-title">标题</span>
                    </td>
                    <td>
                        <span th:utext="${notice.getContent()}" class="new-content">内容</span>
                    </td>
                    <td>
                        <span th:text="${#dates.format(notice.getReleaseTime(),'yyyy-MM-dd HH:mm')}" class="new-time">时间</span>
                    </td>
                    <td>
                        <a title="点击查看公告详情"
                           class="myBtn1"
                           th:onclick="showNotice([[${notice.getId()}]]);">
                            查看
                        </a>

                        <a title="点击修改公告详情"
                           class="addBtn1"
                           th:onclick="editNotice([[${notice.getId()}]]);">
                            编辑
                        </a>

                        <a title="删除该公告"
                           th:onclick="deleteNotice([[${notice.getId()}]]);">
                            删除
                        </a>
                    </td>
                </tr>

            </table>

            <div class="cannot-find" th:if="${noticeList?.size()==0}">
                <img
                        style="display: block; height: 360px; width: auto"
                        th:src="@{img/cannotfind.png}">
                <p style="color: #8b8b8b; margin-top: 180px; font-size: 16px">很抱歉，没有找到你想要的内容</p>
            </div>

            <!-- 页面控制 -->
            <div class="news-page">
                <span th:text="'第 ' + ${currentPage} + '/' + ${totalPages} + ' 页'">第1/6页</span>
                <span th:text="'共' + ${total} + '条'"></span>
                <span>
                    <button id="up-page"
                            th:if="(${currentPage}!=null) ? (${currentPage}>1) : false"
                            th:onclick="changePage([[${currentPage - 1}]])">
                        上一页
                    </button>
                    <button id="next-page"
                            th:if="(${currentPage}!=null) ? (${currentPage}<${totalPages}) : false"
                            th:onclick="changePage([[${currentPage + 1}]])">
                        下一页
                    </button>
                </span>
                <span>
                    前往<input id="page-input" type="text" name="page-input" value="1" th:data="${totalPages}"/>页
                    <button class="news-page-go">确定</button>
                </span>
            </div>

        </div>
    </div>

    <!-- 弹窗  查看公告-->
    <div id="myModal" class="modal">
        <!-- 弹窗内容 -->
        <div class="modal-content">
            <!-- <span class="close">&times;</span> -->
            <p><b>*公告标题</b></p>
            <p id="notice-title">title</p>
            <p><b>*公告内容</b></p>
            <p id="notice-content">
                content
            </p>

            <div>
                <img id="notice-img" style="width: 100%; margin: 10px 0px" src="img/noimg.png" alt=""/>
            </div>

            <p id="release-Time" style="color: #a5a5a5"></p>
            <button class="close show-close">返回</button>
        </div>
    </div>

    <!-- 弹窗  编辑新增公告-->
    <div id="myModal2" class="modal">
        <!-- 弹窗内容 -->
        <div class="modal-content">
            <!-- <span class="close">&times;</span> -->
            <p><b>*公告标题</b></p>
            <p>
                <textarea type="text"
                          placeholder="请填写公告标题"
                          name="title"
                          id="edit-title">
                </textarea>
            </p>

            <p><b>*公告内容</b></p>
            <p>
                <textarea type="text"
                          placeholder="请填写公告内容"
                          name="content"
                          id="edit-content">
                </textarea>
            </p>

            <div class="upload">
                <input type="file"
                       id="upload-file"
                       name="picture"
                       accept=".jpg, .jpeg, .png, .gif"
                       style="border: hidden;"
                       multiple
                >
                <div id="preview">
                </div>
            </div>

            <div class="notice-btn">
                <button class="close" id="publish-notice">发布</button>
                <button class="close2 close">返回</button>
            </div>
        </div>
        <iframe name="targetIfr" style="display:none"></iframe>
    </div>

</main>

<!-- 底部 -->
<footer></footer>
</body>
<script src="../static/js/notice.js" th:src="@{js/notice.js}"></script>

<script>
    // var i = 1;
    //
    // function show(id) {
    //     if (i % 2 != 0) {
    //         document.getElementById(id).style.display = "block";
    //     } else {
    //         document.getElementById(id).style.display = "none";
    //     }
    //     i++;
    // }
</script>
</html>
