<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>修改密码</title>
    <link rel="stylesheet" href="../static/css/font.css" th:href="@{css/font.css}"/>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{css/index.css}"/>
    <link rel="stylesheet" href="../static/css/setting.css" th:href="@{css/setting.css}"/>
    <script src="../static/js/jquery-3.6.0.min.js" th:src="@{js/jquery-3.6.0.min.js}"></script>
    <!--  首先进行登录状态核验   -->
    <script src="../static/js/check-login.js" th:src="@{js/check-login.js}"></script>
</head>

<body>
<!--  头部 -->
<header>
    <div class="head">
        <div class="logo-img" onclick="window.location.href = '/home'">
            <img id="logo-img" src="img/logo.png" alt="" width="139" height="70"/>
        </div>
        <div class="logo-title">网络攻防在线开放实验平台网络预约与自动授权系统</div>
        <!-- 个人头像信息 -->
        <div class="user" id="user">
            <img class="userlogo" th:src="@{img/userlogo.png}" alt=""/>
            <!--  user中要添加“？”，因为thymeleaf在获取对象时，需判断该对象不为空，才能用”.“调用属性  -->
            <span th:text="${user?.getRealName()}">张三</span>
            <span>&nbsp;</span>
            <span th:text="${identity}">老师</span>
            <!-- 简介弹窗 -->
            <div class="usertab" id="usertab">
                <!-- 信息 -->
                <div class="username">
                    <i style="font-size: 18px; font-weight: 600">
                        <span th:text="${identity}">老师</span>
                        <span th:text="'(' + ${user?.getFaculty()} + ')'">(软件学院)</span>
                    </i>
                    <i th:utext="'<b>' + ${user?.getRealName()} + '</b>&nbsp;&nbsp;ID:' + ${user?.getId()}">张三
                        1212312345</i>
                    <i th:text="${user?.getEmail()}">12123123@mail.com</i>
                </div>
                <!-- 功能表 -->
                <ul>
                    <li class="bgccc" onclick="window.location.href = '/setting'">
                        个人信息维护
                    </li>
                    <li onclick="window.location.href = '/resetPassword'">
                        修改密码
                    </li>
                    <li onclick="window.location.href = '/help'">
                        帮助
                    </li>
                    <li id="logout">
                        退出登录
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- 主体页面 -->
<main>
    <!-- 左边导航 -->
    <nav>
        <ul>
            <li>
                <a href="home">首&nbsp;页 <i class="iconfont icon-zhuye"></i> </a>
            </li>
            <li>
                <a href="news">新闻公告 <i class="iconfont icon-gonggao"></i> </a>
            </li>
            <li>
                <a href="booking">预约实验<i class="iconfont icon-ico_yuyueguanli_jiedaiyuyue"></i></a>
            </li>
            <li>
                <a href="resource">资源站点 <i class="iconfont icon-ziyuan"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="experiment">实验管理 <i class="iconfont icon-bianji"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="user">用户管理 <i class="iconfont icon-yonghu1"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="notice">公告管理 <i class="iconfont icon-gonggao"></i> </a>
            </li>
            <li class="active">
                <a href="setting">个人设置 <i class="iconfont icon-shezhi"></i> </a>
            </li>
            <li>
                <a href="contact"
                >联系我们
                    <i class="iconfont icon-lianxishouhou"></i>
                </a>
            </li>
        </ul>
    </nav>

    <!-- 设置管理 -->
    <div class="setting-content">
        <div class="settingleft">
            <div class="setting-tab">
                <table>
                    <tr>
                        <td>账号id：</td>
                        <td>12123456</td>
                    </tr>
                    <tr>
                        <td>原密码：</td>
                        <td>
                            <input type="text" name="" id="" placeholder="请输入原密码"/>
                        </td>
                    </tr>
                    <tr>
                        <td>新密码：</td>
                        <td>
                            <input type="text" name="" id="" placeholder="请输入新的密码"/>
                        </td>
                    </tr>
                    <tr>
                        <td>确认新密码：</td>
                        <td>
                            <input type="text" name="" id="" placeholder="请确认新的密码"/>
                        </td>
                    </tr>
                </table>
                <p style="font-size: 13px; color: red">密码为8-30位字母/数字/标点符号组合，不能与用户名相同，不能为纯数字或纯字母。</p>

                <button>提交</button>
            </div>
        </div>
        <div class="settingright">
            <div class="contact-help">
                <h4>需要帮忙，或者意见反馈？</h4>
                <p>
                    如果您遇到了困难并且需要我们的帮助，请在左侧填写相关内容发送给我们。当然，如果您有什么宝贵意见可以提供，帮助我们完善此系统，请畅所欲言。
                    <br/>
                    我们在收到您的求助或反馈后，会在第一时间联系您并给予回复，感谢您的配合！
                </p>

                <span class="contact-email"> company@126.com</span>
            </div>
        </div>
    </div>
</main>

<!-- 底部 -->
<footer></footer>
<script src="js/news.js"></script>
</body>
<script>
    // var i = 1;
    var date = new Date();
    if (date.getDate() % 2 === 0) {
        $("#logo-img").prop("src", "img/logo.png");
    } else {
        $("#logo-img").prop("src", "img/earth.png");
    }
    // function show(id) {
    //     if (i % 2 != 0) {
    //         document.getElementById(id).style.display = "block";
    //     } else {
    //         document.getElementById(id).style.display = "none";
    //     }
    //     i++;
    // }
</script>
</html>
