<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>资源站点</title>
    <link rel="stylesheet" href="../static/css/font.css" th:href="@{css/font.css}"/>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{css/index.css}"/>
    <link rel="stylesheet" href="../static/css/resource.css" th:href="@{css/resource.css}"/>
</head>

<script src="../static/js/jquery-3.6.0.min.js" th:src="@{js/jquery-3.6.0.min.js}"></script>
<!--  首先进行登录状态核验   -->
<script src="../static/js/check-login.js" th:src="@{js/check-login.js}"></script>

<body>
<!--  头部 -->
<header>
    <div class="head">
        <div class="logo-img" onclick="window.location.href = '/home'">
            <img id="logo-img" src="img/logo.png" alt="" width="139" height="70"/>
        </div>
        <div class="logo-title">网络攻防在线开放实验平台网络预约与自动授权系统</div>
        <!-- 个人头像信息 -->
        <div class="user" id="user">
            <img class="userlogo" th:src="@{img/userlogo.png}" alt=""/>
            <!--  user中要添加“？”，因为thymeleaf在获取对象时，需判断该对象不为空，才能用”.“调用属性  -->
            <span th:text="${user?.getRealName()}">张三</span>
            <span>&nbsp;</span>
            <span th:text="${identity}">老师</span>
            <!-- 简介弹窗 -->
            <div class="usertab" id="usertab">
                <!-- 信息 -->
                <div class="username">
                    <i style="font-size: 18px; font-weight: 600">
                        <span th:text="${identity}">老师</span>
                        <span th:if="!${user?.isSocial()}"
                              th:text="'(' + ${user?.getSchool()} + ${user?.getFaculty()} + ')'">
                            (北京大学软件学院)
                        </span>
                        <span th:if="${user?.isSocial()}"
                              th:text="'Welcome'">
                            (welcome)
                        </span>
                    </i>
                    <i th:utext="'<b>' + ${user?.getRealName()} + '</b>&nbsp;&nbsp;ID:' + ${user?.getId()}">张三
                        1212312345</i>
                    <i th:text="${user?.getEmail()}">12123123@mail.com</i>
                </div>
                <!-- 功能表 -->
                <ul>
                    <li class="bgccc" onclick="window.location.href = '/setting'">
                        个人信息维护
                    </li>
                    <li onclick="window.location.href = '/resetPassword'">
                        修改密码
                    </li>
                    <li onclick="window.location.href = '/help'">
                        帮助
                    </li>
                    <li id="logout">
                        退出登录
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- 主体页面 -->
<main>
    <!-- 左边导航 -->
    <nav>
        <ul>
            <li>
                <a href="home">首&nbsp;页 <i class="iconfont icon-zhuye"></i> </a>
            </li>
            <li>
                <a href="news">新闻公告 <i class="iconfont icon-gonggao"></i> </a>
            </li>
            <li>
                <a href="booking">预约实验<i class="iconfont icon-ico_yuyueguanli_jiedaiyuyue"></i></a>
            </li>
            <li class="active">
                <a href="resource">资源站点 <i class="iconfont icon-ziyuan"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="experiment">实验管理 <i class="iconfont icon-bianji"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="user">用户管理 <i class="iconfont icon-yonghu1"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="notice">公告管理 <i class="iconfont icon-gonggao"></i> </a>
            </li>
            <li>
                <a href="setting">个人设置 <i class="iconfont icon-shezhi"></i> </a>
            </li>
            <li>
                <a href="contact"
                >联系我们
                    <i class="iconfont icon-lianxishouhou"></i>
                </a>
            </li>
        </ul>
    </nav>

    <!-- 右边内容 -->
    <div class="resource-content">
        <div class="resource-title">资源站点</div>

        <ul class="resource-list">
            <li th:each="resource:${resourceList}">
                <a
                        class="resource-link"
                        title="点击查看详情"
                        th:href="@{${resource.getLink()}}"
                        target="_blank"
                        th:utext="${resource.getTitle()} + '——' + ${resource.getSubtitle()}">
                    这里是第一条通知公告标题！
                </a>
                <span>
                        <a
                                target="_blank"
                                style="color: #bdbcbc"
                                th:href="@{${resource.getLink()}}">
                            >>
                        </a>
                    </span>
            </li>
            <!--            <li>-->
            <!--                <a href="javascript:;" target="_blank"> whois查询——子域/IP信息查询 </a>-->
            <!--                <span>2022.03.10</span>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--                <a href="javascript:;" target="_blank"> 攻防世界——在线靶场 </a>-->
            <!--                <span>2022.03.10</span>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--                <a href="javascript:;" target="_blank"> 渗透测试中心——web安全在线学习 </a>-->
            <!--                <span>2022.03.10</span>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--                <a href="javascript:;" target="_blank"> W3Cschool——门户博客论坛</a>-->
            <!--                <span>2022.03.10</span>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--                <a href="javascript:;" target="_blank"> CTF在线工具——综合在线工具平台 </a>-->
            <!--                <span>2022.03.10</span>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--                <a href="javascript:;" target="_blank"> 这里是第6条通知公告标题！！！！！！ </a>-->
            <!--                <span>2022.03.10</span>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--                <a href="javascript:;" target="_blank"> 站长之家——综合在线工具平台 </a>-->
            <!--                <span>2022.03.10</span>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--                <a href="javascript:;" target="_blank"> 黑客街——为网络安全爱好者提供网站导航 </a>-->
            <!--                <span>2022.03.10</span>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--                <a href="javascript:;" target="_blank"> 360众测——安全众测服务平台 </a>-->
            <!--                <span>2022.03.10</span>-->
            <!--            </li>-->
            <!--            <li>-->
            <!--                <a href="javascript:;" target="_blank"> HackerOne——黑客驱动安全平台，帮助你在被利用之前发现并修复关键漏洞 </a>-->
            <!--                <span>2022.03.10</span>-->
            <!--            </li>-->
        </ul>

        <!--        <div class="resource-page">-->
        <!--            <span>第1/6页</span>-->
        <!--            <span> <button>上一页</button> <button>下一页</button></span>-->
        <!--            <span>-->
        <!--                        前往<input type="text" name="" id="" value="1"/>页-->
        <!--                        <button class="resource-page-go">确定</button>-->
        <!--                    </span>-->
        <!--        </div>-->
        <!-- 页面控制 -->
        <div class="resource-page">
            <span th:text="'第 ' + ${currentPage} + '/' + ${totalPages} + ' 页'">第1/6页</span>
            <span>
                <button id="up-page"
                        th:if="(${currentPage}!=null) ? (${currentPage}>1) : false"
                        th:onclick="upPage([[${currentPage - 1}]])">
                    上一页
                </button>
                <button id="next-page"
                        th:if="(${currentPage}!=null) ? (${currentPage}<${totalPages}) : false"
                        th:onclick="nextPage([[${currentPage + 1}]])">
                    下一页
                </button>
            </span>
            <span>
                前往<input id="page-input" type="text" name="page-input" value="1" th:data="${totalPages}"/>页
                <button class="resource-page-go">确定</button>
            </span>
        </div>
    </div>
</main>

<!-- 底部 -->
<footer></footer>

</body>
<script>
    // var i = 1;
    var date = new Date();
    if (date.getDate() % 2 === 0) {
        $("#logo-img").prop("src", "img/logo.png");
    } else {
        $("#logo-img").prop("src", "img/earth.png");
    }

    function upPage(pageNum) {
        var beginTime = $("#start-time").val()
        var endTime = $("#end-time").val()
        var content = $("#search-content").val()
        window.location.href = '/resource?pageNum=' + pageNum + '&pageSize=' + 10
    }

    function nextPage(pageNum) {
        var beginTime = $("#start-time").val()
        var endTime = $("#end-time").val()
        var content = $("#search-content").val()
        window.location.href = '/resource?pageNum=' + pageNum + '&pageSize=' + 10
    }

    // 跳转页面
    $(document).ready(function () {
        $(".resource-page-go").click(function () {
            var beginTime = $("#start-time").val()
            var endTime = $("#end-time").val()
            var content = $("#search-content").val()
            var page = $("#page-input").val()

            //alert('/news?pageNum=' + page + '&pageSize=' + 10 + '&startTime=' + beginTime + '&endTime=' + endTime + '&content=' + content)
            window.location.href = '/news?pageNum=' + page + '&pageSize=' + 10
        })
    });
    // function show(id) {
    //     if (i % 2 != 0) {
    //         document.getElementById(id).style.display = "block";
    //     } else {
    //         document.getElementById(id).style.display = "none";
    //     }
    //     i++;
    // }
</script>
</html>
