<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>个人设置</title>
    <link rel="stylesheet" href="../static/css/font.css" th:href="@{css/font.css}"/>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{css/index.css}"/>
    <link rel="stylesheet" href="../static/css/setting.css" th:href="@{css/setting.css}"/>
    <script src="../static/js/jquery-3.6.0.min.js" th:src="@{js/jquery-3.6.0.min.js}"></script>
    <!--  首先进行登录状态核验   -->
    <script src="../static/js/check-login.js" th:src="@{js/check-login.js}"></script>
</head>


<body>
<!--  头部 -->
<header>
    <div class="head">
        <div class="logo-img" onclick="window.location.href = '/home'">
            <img id="logo-img" src="img/logo.png" alt="" width="139" height="70"/>
        </div>
        <div class="logo-title">网络攻防在线开放实验平台网络预约与自动授权系统</div>
        <!-- 个人头像信息 -->
        <div class="user" id="user">
            <img class="userlogo" th:src="@{img/userlogo.png}" alt=""/>
            <!--  user中要添加“？”，因为thymeleaf在获取对象时，需判断该对象不为空，才能用”.“调用属性  -->
            <span th:text="${user?.getRealName()}">张三</span>
            <span>&nbsp;</span>
            <span th:text="${identity}">老师</span>
            <!-- 简介弹窗 -->
            <div class="usertab" id="usertab">
                <!-- 信息 -->
                <div class="username">
                    <i style="font-size: 18px; font-weight: 600">
                        <span th:text="${identity}">老师</span>
                        <span th:if="!${user?.isSocial()}"
                              th:text="'(' + ${user?.getSchool()} + ${user?.getFaculty()} + ')'">
                            (北京大学软件学院)
                        </span>
                        <span th:if="${user?.isSocial()}"
                              th:text="'Welcome'">
                            (welcome)
                        </span>
                    </i>
                    <i th:utext="'<b>' + ${user?.getRealName()} + '</b>&nbsp;&nbsp;ID:' + ${user?.getId()}">张三
                        1212312345</i>
                    <i th:text="${user?.getEmail()}">12123123@mail.com</i>
                </div>
                <!-- 功能表 -->
                <ul>
                    <li class="bgccc" onclick="window.location.href = '/setting'">
                        个人信息维护
                    </li>
                    <li onclick="window.location.href = '/resetPassword'">
                        修改密码
                    </li>
                    <li onclick="window.location.href = '/help'">
                        帮助
                    </li>
                    <li id="logout">
                        退出登录
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- 主体页面 -->
<main>
    <!-- 左边导航 -->
    <nav>
        <ul>
            <li>
                <a href="home">首&nbsp;页 <i class="iconfont icon-zhuye"></i> </a>
            </li>
            <li>
                <a href="news">新闻公告 <i class="iconfont icon-gonggao"></i> </a>
            </li>
            <li>
                <a href="booking">预约实验<i class="iconfont icon-ico_yuyueguanli_jiedaiyuyue"></i></a>
            </li>
            <li>
                <a href="resource">资源站点 <i class="iconfont icon-ziyuan"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="experiment">实验管理 <i class="iconfont icon-bianji"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="user">用户管理 <i class="iconfont icon-yonghu1"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="notice">公告管理 <i class="iconfont icon-gonggao"></i> </a>
            </li>
            <li class="active">
                <a href="setting">个人设置 <i class="iconfont icon-shezhi"></i> </a>
            </li>
            <li>
                <a href="contact"
                >联系我们
                    <i class="iconfont icon-lianxishouhou"></i>
                </a>
            </li>
        </ul>
    </nav>

    <!-- 设置管理 -->
    <div class="setting-content">
        <div class="settingleft">
            <div class="setlogo" th:onclick="changeLogo([[${user?.getId()}]])">
                <p><img src="img/userlogo.png" alt="" width="120"/></p>

                <p><a href="">修改头像</a></p>
            </div>

            <iframe name="targetIfr" style="display:none"></iframe>
            <form class="setting-tab" target="targetIfr">
                <table>
                    <tr>
                        <td>账号id：</td>
                        <td th:text="${user?.getId()}"></td>
                    </tr>
                    <tr>
                        <td>用户身份：</td>
                        <td th:text="${identity}">教师</td>
                    </tr>
                    <tr>
                        <td>真实姓名：</td>
                        <td>
                            <span th:text="${user?.getRealName()}"></span>
                            <input style="display:none" type="text" name="realName" th:value="${user?.getRealName()}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>性别：</td>
                        <td>
                            <span th:text="${user?.getGender()}"></span>
                            <input style="display:none" type="radio" name="gender" value="男"
                                   th:checked="${user?.isMale()}"/>
                            <span id="male" style="display:none">男</span>
                            <input style="display:none" type="radio" name="gender" value="女"
                                   th:checked="${user?.isFemale()}"/>
                            <span id="female" style="display:none">女</span>
                        </td>
                    </tr>
                    <tr th:if="!${user?.isSocial()}">
                        <td>学校：</td>
                        <td>
                            <span th:text="${user?.getSchool()}"></span>
                            <input style="display:none" type="text" name="school" th:value="${user?.getSchool()}"/>
                        </td>
                    </tr>
                    <tr th:if="!${user?.isSocial()}">
                        <td>学院：</td>
                        <td>
                            <span th:text="${user?.getFaculty()}"></span>
                            <input style="display:none" type="text" name="faculty" th:value="${user?.getFaculty()}"/>
                        </td>
                    </tr>
                    <tr th:if="${user?.isStudent()}">
                        <td>专业：</td>
                        <td>
                            <span th:text="${user?.getProfessional()}"></span>
                            <input style="display:none" type="text" name="professional" th:value="${user?.getProfessional()}"/>
                        </td>
                    </tr>
                    <tr th:if="${user?.isTeacher()}">
                        <td>教学科目：</td>
                        <td>
                            <span th:text="${user?.getSubject()}"></span>
                            <input style="display:none" type="text" name="subject" th:value="${user?.getSubject()}"/>
                        </td>
                    </tr>
                    <tr th:if="${user?.isStudent()}">
                        <td>年级：</td>
                        <td>
                            <span th:text="${user?.getGrade()} + '级'"></span>
                            <input style="display:none" type="text" name="grade" th:value="${user?.getGrade()}"/>
                        </td>
                    </tr>
                    <tr th:if="${user?.isStudent()}">
                        <td>班级：</td>
                        <td>
                            <span th:text="${user?.getClassNum()} + '班'"></span>
                            <input style="display:none" type="text" name="classNum" th:value="${user?.getClassNum()}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>手机号：</td>
                        <td>
                            <span th:text="${user?.getPhone()}"></span>
                            <input style="display:none" type="text" name="phone" th:value="${user?.getPhone()}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>邮箱：</td>
                        <td>
                            <span th:text="${user?.getEmail()}"></span>
                            <input style="display:none" type="email" name="email" th:value="${user?.getEmail()}"/>
                        </td>
                    </tr>
                </table>
                <button id="edit" type="button">编辑</button>
                <button id="save" type="button" style="display:none">保存</button>
            </form>
        </div>
        <div class="settingright">
            <div class="contact-help">
                <h4>需要帮忙，或者意见反馈？</h4>
                <p>
                    如果您遇到了困难并且需要我们的帮助，请在左侧填写相关内容发送给我们。当然，如果您有什么宝贵意见可以提供，帮助我们完善此系统，请畅所欲言。
                    <br/>
                    我们在收到您的求助或反馈后，会在第一时间联系您并给予回复，感谢您的配合！
                </p>

                <span class="contact-email"> company@126.com</span>
            </div>
        </div>
    </div>
</main>

<!-- 底部 -->
<footer></footer>
<!--<script src="js/news.js"></script>-->
</body>
<script>
    // var i = 1;
    var date = new Date();
    if (date.getDate() % 2 === 0) {
        $("#logo-img").prop("src", "img/logo.png");
    } else {
        $("#logo-img").prop("src", "img/earth.png");
    }

    // 启用编辑
    $(document).ready(function () {
        $("#edit").click(function () {
            $("td span, #edit").css("display", "none");
            $("td input, #save").css("display", "inline-block");
            $("#male, #female").css("display", "inline");
        })
    });

    // 保存信息
    $(document).ready(function () {
        $("#save").click(function () {
            $("#save").prop("disabled", true)
            $.ajax({
                //几个参数需要注意一下
                type: "POST",   //方法类型
                dataType: "json",   //预期服务器返回的数据类型
                url: "/resetUserInfo",    //执行的url请求
                //提交至服务器的数据
                data: $(".setting-tab").serialize(), //请求参数放在请求头中
                success: function (result) {    //result是服务器返回的封装数据
                    console.log(result);//打印服务端返回的数据(调试用)
                    if (result.code === 200) {
                        $("td span").css("display", "inline");
                        $("#edit").css("display", "inline-block");
                        $("td input, #male, #female, #save").css("display", "none");
                        alert(result.msg + "\n" + "修改个人信息成功😄");
                        window.location.reload();
                    }
                    if (result.code === 400) {
                        // 输入信息为空提示信息
                        alert(result.msg + "\n" + result.data);
                    }
                    if (result.code === 500) {
                        // 输入信息错误提示信息
                        alert(result.msg + "\n" + result.data);
                    }
                },
                // 登录请求失败
                error: function () {
                    alert("修改个人信息失败！");
                }
            });

            $("#save").prop("disabled", false);

        })
    });

    function changeLogo(id){
        var formdata = new FormData();
        formdata.append("avatar", $("#upload-file")[0].files[0]);
    }
    // function show(id) {
    //     if (i % 2 != 0) {
    //         document.getElementById(id).style.display = "block";
    //     } else {
    //         document.getElementById(id).style.display = "none";
    //     }
    //     i++;
    // }
</script>
</html>
