<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>用户管理</title>
    <link rel="stylesheet" href="../static/css/font.css" th:href="@{css/font.css}"/>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{css/index.css}"/>
    <link rel="stylesheet" href="../static/css/user.css" th:href="@{css/user.css}"/>
    <script src="../static/js/jquery-3.6.0.min.js" th:src="@{js/jquery-3.6.0.min.js}"></script>
    <!--  首先进行登录状态核验   -->
    <script src="../static/js/check-login.js" th:src="@{js/check-login.js}"></script>
</head>

<body>
<!--  头部 -->
<header>
    <div class="head">
        <div class="logo-img" onclick="window.location.href = '/home'">
            <img id="logo-img" src="img/logo.png" alt="" width="139" height="70"/>
        </div>
        <div class="logo-title">网络攻防在线开放实验平台网络预约与自动授权系统</div>
        <!-- 个人头像信息 -->
        <div class="user" id="user">
            <img class="userlogo" th:src="@{${user?.getImageAddress()}}"  alt=""/>
            <!--  user中要添加“？”，因为thymeleaf在获取对象时，需判断该对象不为空，才能用”.“调用属性  -->
            <span th:text="${user?.getRealName()}">张三</span>
            <span>&nbsp;</span>
            <span th:text="${identity}">老师</span>
            <!-- 简介弹窗 -->
            <div class="usertab" id="usertab">
                <!-- 信息 -->
                <div class="username">
                    <i style="font-size: 18px; font-weight: 600">
                        <span th:text="${identity}">老师</span>
                        <span th:if="!${user?.isSocial()}"
                              th:text="'(' + ${user?.getSchool()} + ${user?.getFaculty()} + ')'">
                            (北京大学软件学院)
                        </span>
                        <span th:if="${user?.isSocial()}"
                              th:text="'Welcome'">
                            (welcome)
                        </span>
                    </i>
                    <i th:utext="'<b>' + ${user?.getRealName()} + '</b>&nbsp;&nbsp;ID:' + ${user?.getId()}">张三
                        1212312345</i>
                    <i th:text="${user?.getEmail()}">12123123@mail.com</i>
                </div>
                <!-- 功能表 -->
                <ul>
                    <li class="bgccc" onclick="window.location.href = '/setting'">
                        个人信息维护
                    </li>
                    <li onclick="window.location.href = '/resetPassword'">
                        修改密码
                    </li>
                    <li onclick="window.location.href = '/help'">
                        帮助
                    </li>
                    <li id="logout">
                        退出登录
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- 主体页面 -->
<main>
    <!-- 左边导航 -->
    <nav>
        <ul>
            <li>
                <a href="home">首&nbsp;页 <i class="iconfont icon-zhuye"></i> </a>
            </li>
            <li>
                <a href="news">新闻公告 <i class="iconfont icon-gonggao"></i> </a>
            </li>
            <li>
                <a href="booking">预约实验<i class="iconfont icon-ico_yuyueguanli_jiedaiyuyue"></i></a>
            </li>
            <li>
                <a href="resource">资源站点 <i class="iconfont icon-ziyuan"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="experiment">实验管理 <i class="iconfont icon-bianji"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}" class="active">
                <a href="user">用户管理 <i class="iconfont icon-yonghu1"></i> </a>
            </li>
            <li th:if="${user?.isAdmin()}">
                <a href="notice">公告管理 <i class="iconfont icon-gonggao"></i> </a>
            </li>
            <li>
                <a href="setting">个人设置 <i class="iconfont icon-shezhi"></i> </a>
            </li>
            <li>
                <a href="contact"
                >联系我们
                    <i class="iconfont icon-lianxishouhou"></i>
                </a>
            </li>
        </ul>
    </nav>

    <!-- 右边实验管理 -->
    <div class="user-content">
        <div class="booking-top">
            <div class="booking-top-left">
                <button id="addOne" class="myBtn" onclick="openEdit()">+单个添加</button>
                <button id="addByFile" class="myBtn">+批量导入</button>
                <button id="deleteUser" class="myBtn">删 除</button>
            </div>
            <!-- 模糊搜索 -->
            <div class="news-search">
                <input id="search-content" type="text" placeholder="模糊搜索" th:value="${searchContent}"/>
                <i class="iconfont icon-sousuo"></i>
            </div>
            <button id="newsSearch" th:data-role="${role}">搜索</button>
        </div>
        <!-- 表格 -->
        <div class="tab">
            <div class="tab-top">
                <span th:classappend="${role}==2 ? 'active': ''" onclick="window.location.href = 'user?role=2'">教师</span>
                <span th:classappend="${role}==3 ? 'active': ''" onclick="window.location.href = 'user?role=3'">学生</span>
                <span th:classappend="${role}==4 ? 'active': ''" onclick="window.location.href = 'user?role=4'">社会人员</span>
            </div>
            <table class="table-user">
                <tr>
                    <th><input type="checkbox" th:onclick="selectAll([[${userList?.size()}]])"/></th>
                    <th>id</th>
                    <th>姓名</th>
                    <th>手机号</th>
                    <th>邮箱</th>
                    <th>性别</th>
                    <th th:if="${role} != 4">学校</th>
                    <th th:if="${role} != 4">学院</th>
                    <th th:if="${role} == 3">专业班级</th>
                    <th th:if="${role} == 2">教学科目</th>
                    <th>注册时间</th>
                    <th>操作</th>
                </tr>

                <tr th:each="user:${userList}">
                    <td>
                        <input type="checkbox" th:value="${user.getId()}"/>
                    </td>
                    <td th:text="${user.getId()}">001</td>
                    <td th:text="${user.getRealName()}">胡卫兵</td>
                    <td th:text="${user.getPhone()}">12123456789</td>
                    <td th:text="${user.getEmail()}">12123@qq.com</td>
                    <td th:text="${user.getGender()}">男</td>
                    <td th:if="${role} != 4" th:text="${user.getSchool()}">合肥工业大学</td>
                    <td th:if="${role} != 4" th:text="${user.getFaculty()}">软件学院</td>
                    <td th:if="${role} == 3" th:text="${user.getProfessional()} + ${user.getGrade()} + '级 '+ ${user.getClassNum()} + '班'">
                        软件工程22级 1班
                    </td>
                    <td th:if="${role} == 2" th:text="${user.getSubject()}">数据结构与算法</td>
                    <td th:text="${#dates.format(user.getRegisterTime(),'yyyy-MM-dd HH:mm:ss')}">2022-05-20 20:13:22
                    </td>
                    <td>
                        <a href="javascript:;" th:onclick="getUser([[${user.getId()}]])">编辑</a>
                        <a href=""  th:onclick="deleteUser([[${user.getId()}]])">删除</a>
                    </td>
                </tr>

            </table>
            <div class="cannot-find" th:if="${userList?.size()==0}">
                <img
                        style="display: block; height: 360px; width: auto"
                        th:src="@{img/helpness.png}">
                <p style="color: #8b8b8b; margin-top: 180px; font-size: 16px">很抱歉，没有找到你想要的内容</p>
            </div>
        </div>

        <!-- 页面控制 -->
        <div class="news-page">
            <button class="allselect" th:onclick="selectAll([[${userList?.size()}]])">全选</button>
            <span th:text="'第 ' + ${currentPage} + '/' + ${totalPages} + ' 页'">第1/6页</span>
            <span th:text="'共' + ${total} + '条'"></span>
            <span>
                    <button id="up-page"
                            th:if="(${currentPage}!=null) ? (${currentPage}>1) : false"
                            th:onclick="changePage([[${currentPage - 1}]])">
                        上一页
                    </button>
                    <button id="next-page"
                            th:if="(${currentPage}!=null) ? (${currentPage}<${totalPages}) : false"
                            th:onclick="changePage([[${currentPage + 1}]])">
                        下一页
                    </button>
                </span>
            <span>
                    前往<input id="page-input" type="text" name="page-input" value="1" th:data="${totalPages}"/>页
                    <button class="news-page-go">确定</button>
                </span>
        </div>
    </div>

    <!-- 弹窗 -->
    <iframe name="targetIfr" style="display:none"></iframe>
    <div id="myModal" class="modal booking-modal" style="z-index: 888">
        <!-- 弹窗内容 -->
        <form id="myForm" class="modal-content" style="width: 45%" target="targetIfr">
            <!-- <span class="close">&times;</span> -->
            <p id="id-input">
                *id
                <input type="text" name="id" id="id" placeholder=" 请设置用户id"/>
            </p>
            <p>
                *用户姓名
                <input type="text" name="realName" id="realName" placeholder=" 请填写用户真实姓名"/>
            </p>
            <p>
                *性别 <br/>
                <input type="radio" class="UserRole" name="gender" id="male" value="男"/>
                男
                <input type="radio" class="UserRole" name="gender" id="female" value="女"/>
                女
            </p>
            <p>
                *用户身份 <br/>
                <input type="radio" class="UserRole" name="role" id="teacher" value="2" th:disabled="${role!=2}?true:false"/>
                教师
                <input type="radio" class="UserRole" name="role" id="student" value="3" th:disabled="${role!=3}?true:false"/>
                学生
                <input type="radio" class="UserRole" name="role" id="social" value="4" th:disabled="${role!=4}?true:false"/>
                社会人员
            </p>
            <p>
                *手机号（可用于登录）
                <input type="text" name="phone" id="phone" placeholder=" 请填写手机号"/>
            </p>
            <p>
                *邮箱号 （可用于登录）
                <input type="text" name="email" id="email" placeholder=" 请填写邮箱号"/>
            </p>
            <p th:if="${role} != 4">
                学校
                <input type="text" name="school" id="school" placeholder=" 请填写学校"/>
            </p>
            <p th:if="${role} != 4">
                学院
                <input type="text" name="faculty" id="faculty" placeholder=" 请填写学院"/>
            </p>
            <p th:if="${role} == 2">
                教学科目
                <input type="text" name="subject" id="subject" placeholder=" 请填写教学科目"/>
            </p>
            <p th:if="${role} == 3">
                专业
                <input type="text" name="professional" id="professional" placeholder=" 请填写专业"/>
            </p>
            <p th:if="${role} == 3" style="display: inline-block; ">
                年级（例：18年入学填 18）
                <input type="number" name="grade" id="grade" placeholder=" 请填写年级"/>
            </p>
            <p th:if="${role} == 3" style="display: inline-block; margin-left: 30px">
                班级
                <input type="number" name="classNum" id="classNum" placeholder=" 请填写班级号"/>
            </p>

            <p class="close-wrap">
                <button id="refresh-user" onclick="saveUser()">更新</button>
                <button id="add-user" onclick="addUser()">添加</button>
                <button class="close">返回</button>
            </p>
        </form>
    </div>
</main>

<!-- 底部 -->
<footer></footer>
<script src="js/user.js"></script>
</body>
<script>
    // var i = 1;

    // function show(id) {
    //     if (i % 2 != 0) {
    //         document.getElementById(id).style.display = "block";
    //     } else {
    //         document.getElementById(id).style.display = "none";
    //     }
    //     i++;
    // }
</script>
</html>
