<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ers.dao.ExperimentMapper">
    <select id="getFiveExperiments" resultType="Experiment">
        select *
        from experiment
        where (state = 2 or state = 3) -- 2：进行中  3：已完成
        order by start_time desc -- asc相反为升序
        limit 5 -- 查询数量为5条
    </select>

    <select id="getExperimentById" resultType="Experiment">
        select *
        from experiment
        where id = #{id}
    </select>

    <select id="fuzzySearchNotice" resultType="Experiment">
        select *
        from experiment
        where 1=1
        <!-- CONCAT()为字符拼接函数 -->
        <if test="content != null and content != ''">
            and (
            title LIKE CONCAT('%', #{content}, '%')
            or content LIKE CONCAT('%', #{content}, '%')
            )
        </if>
        <if test="beginTime != null">
            and creat_time >= #{beginTime} -- 以该天的00:00为准
        </if>
        <!-- 注意：mybatis中 '<' 不能使用，需要使用 <![CDATA[ ]]> 转义。或者使用特殊转义字符：'&lt;'表示小于号，'&gt;'表示大于号，'&amp;'表示加号 -->
        <if test="endTime != null">
            and creat_time <![CDATA[<]]> #{endTime} -- 查询包括当天的话，要在需求日期之上再加一天，去掉等于号
        </if>
        order by creat_time desc -- asc相反为升序
    </select>
</mapper>