<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ers.dao.NoticeMapper">

    <select id="getFiveNews" resultType="Notice">
        select id, title, content, release_time, image_addresses
        from notice
        order by release_time desc -- asc相反为升序
        limit 5 -- 查询数量为5条
    </select>

    <select id="getAllNotices" resultType="Notice">
        select id, title, content, release_time, image_addresses
        from notice
        order by release_time desc -- asc相反为升序
    </select>

    <select id="getNoticeById" resultType="Notice">
        select id, title, content, release_time, image_addresses
        from notice
        where id = #{id}
    </select>
</mapper>