<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ers.dao.UserMapper">

    <sql id="sql1">
        <if test="nickName != null and nickName != ''">
            and customer_service.nick_name = #{nickName}
        </if>
        <if test="realName != null and realName != ''">
            and customer_service.real_name = #{realName}
        </if>
    </sql>

<!--    <insert id="create" parameterType="User">-->
<!--        insert-->
<!--        work_order(work_order_id,type,title,order_desc,cclist,priority,state,customer_service_id,customer_id)-->
<!--        values (-->
<!--        #{workOrderId},-->
<!--        #{type},-->
<!--        #{title},-->
<!--        #{orderDesc},-->
<!--        #{cclist},-->
<!--        #{priority},-->
<!--        #{state},-->
<!--        #{customerServiceId},-->
<!--        #{customerId}-->
<!--        )-->
<!--    </insert>-->

    <select id="login" resultType="User">
        select id,
               real_name,
               phone,
               email,
               role,
               school,
               faculty,
               professional,
               grade,
               class_num,
               subject,
               gender,
               image_address,
               register_time,
               day_number,
               week_number
        from user
        where (phone = #{account} and password = #{password})
        or (email = #{account} and password = #{password})
    </select>

    <!--  insert、update、delete：返回影响行数n。（n>=1為成功，n为0时实际为插入失败） -->
    <insert id="register">
        insert into user(
            phone
            , email
            , password
            , real_name
            , role
            , register_time
        )
        values (
            #{phone}
            , #{email}
            , #{password}
            , #{realName}
            , #{role}
            , #{registerTime}
        )
    </insert>

    <!-- id自增长归位 -->


    <select id="findUserById" resultType="User">
        select id,
               real_name,
               phone,
               email,
               role,
               school,
               faculty,
               professional,
               grade,
               class_num,
               subject,
               gender,
               image_address,
               register_time,
               day_number,
               week_number
        from user
        where id = #{id}
    </select>

    <select id="findUserByAccount" resultType="User">
        select id,
               real_name,
               phone,
               email,
               role,
               school,
               faculty,
               professional,
               grade,
               class_num,
               subject,
               gender,
               image_address,
               register_time,
               day_number,
               week_number
        from user
        where (phone = #{account} or email = #{account})
    </select>

    <resultMap id="UserMap" type="User">
        <result column="id" property="id"/>
        <result column="" property=""/>
        <result column="" property=""/>
    </resultMap>

    <update id="resetUserInfo" parameterType="User">
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="realName != null and realName != ''">real_name = #{realName},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="school != null and school != ''">school = #{school},</if>
            <if test="faculty != null and faculty != ''">faculty = #{faculty},</if>
            <if test="professional != null and professional != ''">professional = #{professional},</if>
            <if test="grade != null and grade != ''">grade = #{grade},</if>
            <if test="classNum != null and classNum != ''">class_num = #{classNum},</if>
            <if test="subject != null and subject != ''">subject = #{subject},</if>
        </trim>
        where id = #{id}
    </update>

    <select id="getUsers" resultType="User">
        select id,
               real_name,
               phone,
               email,
               role,
               school,
               faculty,
               professional,
               grade,
               class_num,
               subject,
               gender,
               image_address,
               register_time
        from user
        where role = #{role}
        <if test="content != null and content != ''">
            and (
            real_name LIKE CONCAT('%', #{content}, '%')
            or phone LIKE CONCAT('%', #{content}, '%')
            or email LIKE CONCAT('%', #{content}, '%')
            or school LIKE CONCAT('%', #{content}, '%')
            or faculty LIKE CONCAT('%', #{content}, '%')
            or professional LIKE CONCAT('%', #{content}, '%')
            or subject LIKE CONCAT('%', #{content}, '%')
            or gender LIKE CONCAT('%', #{content}, '%')
            )
        </if>
        order by id asc -- asc相反为升序
    </select>

    <delete id="deleteUserById">
        DELETE FROM user WHERE id = #{id}
    </delete>
</mapper>